$gold-color: gold;

.rating {
  color: #ffffff;
  margin-top: 20px;
  display: flex;
  &Stars {
    color: gold;
    svg {
      margin-right: 2px;
    }
  }
  &Avg {
    font-size: 20px;
    margin-top: -3px;
    margin-left: 10px;
  }
}

.pill {
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.profile {
  width: 75px;
  height: auto;
  display: inline-block;
  margin-right: 10px;

  &Img {
    width: 100%;
    border-radius: 5px;
  }
  &Name {
    font-weight: lighter;
    font-size: 15px;
    white-space: initial;
    float: left;
    white-space: break-spaces;
  }
}

.movieElement {
  background-color: #3c3c46;
  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  height: 110px;
  position: relative;
  margin-top: 60px;
  display: flex;
  &Background {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    opacity: 0.4;
    z-index: 0;
    filter: blur(6px);
  }
  &Media {
    height: 100%;
    min-width: 100px;
    position: relative;
    z-index: 1;
    &Img {
      width: 100px;
      position: absolute;
      bottom: 0px;
      border-radius: 5px;
    }
  }
  &Data {
    z-index: 1;

    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    justify-content: space-between;

    &Text {
      color: #ffffff;

      &Title {
        margin-bottom: 5px;
      }

      &Genres {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}

.detail {
  position: relative;
  width: 100%;
  display: flex;
  &Back {
    background-color: #22272e;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: center top;
    filter: blur(4px);
  }

  &Card {
    position: relative;
    background-color: #3c3c46;
    border-radius: 5px;
    width: 100%;
    height: auto;
    top: 200px;
    margin: 0 10px;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 40px;

    &Row {
      display: flex;

      padding: 10px 20px;

      &:first-of-type {
        height: 110px;
      }

      &ImgWrapper {
        min-width: 100px;
        height: 100%;
        position: relative;
        img {
          width: 100%;
          position: absolute;
          bottom: 0;
          border-radius: 5px;
        }
      }
      &MainData {
        width: 100%;
        height: 100%;
        margin-left: 15px;
        display: flex;
        flex-direction: column;

        &Title {
          font-weight: bolder;
          font-size: 20px;
        }
        &Date {
          font-weight: lighter;
          font-size: 15px;
        }
      }
      &Intro {
        &Title {
          font-weight: bolder;
          font-size: 20px;
        }
        &Data {
          margin-top: 10px;
          font-weight: lighter;
          font-size: 15px;
        }
      }
      &Genres {
        &Title {
          font-weight: bolder;
          font-size: 20px;
        }
        &Data {
          margin-top: 10px;
          font-weight: lighter;
          font-size: 15px;
        }
      }
      &Creators {
        width: 100%;
        &Data {
          margin-top: 10px;
          overflow: auto;
          white-space: nowrap;
          width: 100%;
        }
      }
    }
  }
}
